{% extends "layout.html" %}
{% block content %}

<div class="container d-flex justify-content-center align-items-center" style="min-height: 70vh;">
        
        <form action="/resultado" method="post">
            <div class="mb-3">
                <label for="n1" class="form-label">Número 1:</label>
                <input type="number" step="any" class="form-control" id="n1" name="n1" required>
            </div>

            <div class="mb-3">
                <label for="n2" class="form-label">Número 2:</label>
                <input type="number" step="any" class="form-control" id="n2" name="n2" required>
            </div>

            <div class="mb-3">
                <label for="operacion" class="form-label">Operación:</label>
                <select class="form-select" id="operacion" name="operacion">
                    <option value="suma" selected>Suma (+)</option>
                    <option value="resta">Resta (-)</option>
                    <option value="multiplicacion">Multiplicación (×)</option>
                    <option value="division">División (÷)</option> </select>
                </div>

            <div class="d-grid gap-2 mt-4">
                <button type="submit" class="btn btn-primary">Calcular</button>
            </div>
        </form>
</div>

{% endblock %}